<div>
    <h1>
        subida Archivos
    </h1>
</div>
<div class="mainContainer">  
    <div class="content">
        <div class="header">
            <h1>Angular File Upload</h1>
        </div>
        <div class="row margin25">
  
            <div class="col-md-4">
  
            </div>
            
            <div class="col-md-4">
                
                <button type="button" class="btn btn-primary" (click)="registrarEstudiante()">REGISTRAR ESTUDIANTE</button>
                <button type="button" class="btn btn-primary" (click)="registrarProyecto()">REGISTRAR PROYECTOS</button>
            </div>
        </div>
        
    </div>
  </div>  